<div>
  <app-profileheader></app-profileheader>
</div>
<section class="section_div">
  <div>
    <h1 id="scoretitle">Scoreboard</h1>
  </div>
  <div id="wertyui">
    <div id="Scoreboard_div">
      <a>Trending</a><a>Wall</a><a>Scoreboard</a>
    </div>
    <div id="scorepoints">
      <div id="gridlayout">
        <div class="text-right">
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6 id="you">You</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
          <h6>Yuvraj Singh</h6>
        </div>
        <div>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6 id="you1">8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
            <h6>8765432</h6>
          </div>
      </div>
    </div>
  </div>
</section>
