<div>
        <app-profileheader></app-profileheader>
        </div>
        <section id="section">
          <div style="clear:both;" class="container11">
            <div>
              <h1 id="trendingtext">Profile</h1>
            </div>
            <div  id="postbackground">
              <div id="fghjjk">
               <div id="image_div">
                 <img src="../../assets/images/img3.jpg" id="postimage">
               </div>
               <div  id="profilediv">
                  <div>
                    <ul id="profilename_follow">
                      <li><img src="../../assets/images/img2.jpg"  id="followprofile"></li>
                      <li>Neha Shukla</li>
                      <li><a id="followbtn111">Follow</a></li>
                    </ul>
                    <ul id="moreicon">
                      <li><img src="../../assets/images/more.png" id="morepngicon"></li>
                    </ul>
                  </div>
                  <div id="clearfloat">
                  <div>
                    <div >
                      <h1>Title Here</h1>
                    </div>
                    <div  id="title_desc">
                        <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quo modi maiores blanditiis obcaecati tempora reprehenderit voluptas provident doloribus similique 
                          illum voluptatibus excepturi nesciunt tenetur, 
                          quod praesentium eligendi eos nulla.</h6>
                      </div>
                  </div>
                  <div>
                      <div >
                         <h5>Category</h5>
                      </div>
                      <div >
                       <div>
                         <div>
                            <h6><span>Likes(260)</span>&nbsp;&nbsp;&nbsp;<span>Comments(72)</span></h6>
                         </div>
                       </div>
                      </div>
                     </div>
                     </div>
               </div>
            </div>
            <div  id="profilediv11">
                <div>
                  <ul id="profilename_follow">
                    <li><img src="../../assets/images/img2.jpg"  id="followprofile"></li>
                    <li>Neha Shukla</li>
                    <li><a id="followbtn111">Follow</a></li>
                  </ul>
                  <ul id="moreicon">
                    <li><img src="../../assets/images/more.png" id="morepngicon"></li>
                  </ul>
                </div>
                <div id="clearfloat">
                <div>
                  <div >
                    <h1>Title Here</h1>
                  </div>
                  <div  id="title_desc">
                      <h6>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus quo modi maiores blanditiis obcaecati tempora reprehenderit voluptas provident doloribus similique 
                        illum voluptatibus excepturi nesciunt tenetur, 
                        quod praesentium eligendi eos nulla.</h6>
                    </div>
                </div>
                <div>
                    <div >
                       <h5>Category</h5>
                    </div>
                    <div >
                     <div>
                       <div>
                          <h6><span>Likes(260)</span>&nbsp;&nbsp;&nbsp;<span>Comments(72)</span></h6>
                       </div>
                     </div>
                    </div>
                   </div>
                   </div>
             </div>
            </div>
          </div>
        </section>
        